@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: #000;
      --color-secondary: #a1a1aa;
      --color-highlights: #fff;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}